.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.two-col {
    overflow: hidden;/* Makes this div contain its floats */
}


.two-col .col1,
.two-col .col2,
.two-col .col1_text {
    width: 49%;
}

.two-col .col1,
.two-col .col1_text {
    float: left;
}

.two-col .col2 {
    float: right;
}

.two-col label {
    display: block;
}